<ion-content [fullscreen]="true" class="ion-padding no-scroll-content ion-text-center" style="background-color: #aedcf4;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About this app</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center-container">
    <p>
      This app was created by me for educational purposes.
    </p>

    <p>
      I created this app for my programming course. I created it on 23rd January 2024.
    </p>
  </div>
</ion-content>
