.no-scroll-content {
    --overflow: hidden;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aedcf4; 
    font-family: 'YourCustomFont', sans-serif; 
  }
  
  .center-container p {
    text-align: center;
    max-width: 80%;
    margin: 15px 0;
    color: #333;
  }
  